<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title>{{materia.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-img [src]="materia.img"></ion-img>
  <ion-item>
    Horiario: {{materia.horarios}}
  </ion-item>
  <div *ngIf = "examenes.length > 0; else noexamen">
    <ion-item *ngFor = "let examen of examenes" (click)="openModal(examen)">
      <ion-label>{{examen.nombre}} {{examen.fecha}}</ion-label>
    </ion-item>
  </div>
  <ng-template #noexamen>
    No hay ningun examen por el momento
  </ng-template>
  <ion-button (click)="prueba()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
</ion-content>
