  <ion-app>
    <ion-content>
      <ion-tabs>
        <ion-tab-bar slot="bottom">

          <ion-tab-button tab="materias">
            <ion-icon name="map"></ion-icon>
            <ion-label>Materias</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="calendario">
            <ion-icon name="calendar"></ion-icon>
            <ion-label>Calendario</ion-label>
          </ion-tab-button>
      
          <ion-tab-button tab="perfil">
            <ion-icon name="person-circle"></ion-icon>
            <ion-label>Perfil</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </ion-app>
